{% extends "base.html" %}

{% block title %}DIBBS Portal - End User{% endblock %}
{% block navbar_title %}DIBBS Portal - End User{% endblock %}

{% block navbar_links %}
    <a href="/contributor/operations/">Switch to Community User</a>
{% endblock %}

{% block sidebar_links %}
    <a href="{% url 'enduser_operations' %}"><i class="glyphicon glyphicon-th"></i> Operations</a>
    <a href="{% url 'enduser_instances' %}"><i class="glyphicon glyphicon-th"></i> Instances</a>
    <a href="{% url 'enduser_executions' %}"><i class="glyphicon glyphicon-th-list"></i> Executions</a>
{% endblock %}
