{% extends "base_enduser.html" %}

{% block navbar_title %}{{ block.super }} >> Appliances Dashboard{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table cluster-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Appliance</th>
                                <th>Executions</th>
                                <th>Nodes</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                        {% for cluster in clusters_list %}
                            <tr>
                                <td><b>{{ cluster.id }}</b></td>
                                <td>{{ cluster.name }}</td>
                                <td>{{ cluster.appliance }}</td>
{#                                <td>{{ cluster.running_executions|length }}</td>#}
                                <td>
                                    {% if cluster.running_executions|length > 0 %}
                                        {% for execution in cluster.running_executions %}
                                            {{ execution.name }}
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ execution.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ execution.progress }}%">
                                                    ({{ execution.progress }}%)
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                    No executions
                                    {% endif %}
                                </td>
                                <td>{{ cluster.number_of_nodes }} nodes:
                                    <ul>
                                        {% for ip in cluster.hosts_ips %}
                                            {% if ip == cluster.master_node_ip %}
                                                <li><strong>{{ ip }}</strong></li>
                                            {% else %}
                                                <li>{{ ip }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>

                                    <!--<a class="btn btn-default" href="#" disabled="true">+</a> <a class="btn btn-default" href="#" disabled="true">-</a>-->
                                </td>
                                <td>{{ cluster.status }}</td>
                                <td>-</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <div id="tbody_hidden" style="display: none;">Hidden</div>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_body_footer %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <script type="text/javascript">
        function load_pop_over() {
            $(function () {
                $('[rel="popover"]').popover({
                    container: 'body',
                    html: true,
                    content: function () {
                        var clone = $($(this).data('popover-content')).clone(true).removeClass('hide');
                        return clone;
                    }
                }).click(function (e) {
                    e.preventDefault();
                });
            });
        }
        load_pop_over();
        window.setInterval(function () {
            $("#tbody_hidden").load("{% url 'enduser_clusters' %} #tbody>*", function () {
                if ($("#tbody_hidden").html() != $("#tbody").html()) {
                    $("#tbody").html($("#tbody_hidden").html());
                    load_pop_over();
                }
            });
        }, 5000)
    </script>
{% endblock %}
