{% extends "base_enduser.html" %}

{% block navbar_title %}{{ block.super }} >> New Execution{% endblock %}

{% block content %}
    <form role="form" action="{% url 'enduser_execution_post' %}" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="operation_instance">Credential to use:</label>
            <select class="form-control" name="credential" id="credential" required>
                    <option value="*">Random</option>
                {% for credential in credentials %}
                    <option value="{{ credential.name }}">{{ credential.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="operation_instance">Operation Instance:</label>
            <select class="form-control" name="operation_instance" id="operation_instance" required>
                {% for instance in instances %}
                    <option value="{{ instance.id }}" {% if instance.id == default_instance %} selected {% endif %}>#{{ instance.id }} - {{ instance.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="callback_url">Callback URL (optional):</label>
            <input type="url" class="form-control" id="callback_url" name="callback_url">
        </div>
        <div class="form-group">
            <label for="callback_url">Reservation ID (optional):</label>
            <input type="text" class="form-control" id="lease_id" name="lease_id">
        </div>
        <div class="checkbox">
            <label><input type="checkbox" name="force_spawn_cluster">Force spawning a new cluster</label>
        </div>
        <div class="form-group">
            <label for="callback_url">Number of slave nodes (if new cluster):</label>
            <input type="number" class="form-control" id="slave_nodes_count" name="slave_nodes_count" value="2">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}
