{% extends "base_enduser.html" %}

{% block content %}
    {% if operation_id %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info" role="alert"><strong>Info:</strong> Showing only the instances of operation #{{ operation_id }}.</div>
            </div>
        </div>
    {% endif %}
    {% for operations_pair in operations_pairs %}
        <div class="row">
            {% if operations_pair.first %}
                <div class="col-lg-6">
                    <div class="panel panel-default portal-panel">
                        <div class="panel-body">
                            <div class="portal-panel-header">
                                <div class="portal-panel-image portal-image-placeholder"></div>
                                <div class="portal-panel-header-text">
                                    <h2>{{ operations_pair.first.name }}</h2>

                                    <p>
                                        <span>Instantiates <a>{{ operations_pair.first.process.name }}</a></span><br/>
                                        <!-- <span><span class="label label-primary">GIS</span> <span class="label label-primary">topographic</span> (v1.1)</span> -->
                                    </p>
                                </div>
                            </div>
                            <div class="portal-panel-content">
                                <h3>Parameters</h3>
                                <code>{{ operations_pair.first.parameters }}</code>

                                <h3>File parameters</h3>
                                <code>{{ operations_pair.first.files }}</code>
                            </div>
                        </div>
                        <div class="panel-footer clearfix">
                            <div class="btn-group pull-right">
                                <a class="btn btn-default btn-xs" href="#">
                                    <i class="glyphicon glyphicon-plus"></i> Create execution
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-6 -->
            {% endif %}


            {% if operations_pair.second %}
                <div class="col-lg-6">
                    <div class="panel panel-default portal-panel">
                        <div class="panel-body">
                            <div class="portal-panel-header">
                                <div class="portal-panel-image portal-image-placeholder"></div>
                                <div class="portal-panel-header-text">
                                    <h2>{{ operations_pair.second.name }}</h2>

                                    <p>
                                        <span>Instantiates <a>{{ operations_pair.second.process.name }}</a></span><br/>
                                        <!-- <span><span class="label label-primary">GIS</span> <span class="label label-primary">topographic</span> (v1.1)</span> -->
                                    </p>
                                </div>
                            </div>
                            <div class="portal-panel-content">
                                <h3>Parameters</h3>
                                <code>{{ operations_pair.second.parameters }}</code>

                                <h3>File parameters</h3>
                                <code>{{ operations_pair.second.files }}</code>
                            </div>
                        </div>
                        <div class="panel-footer clearfix">
                            <div class="btn-group pull-right">
                                <a class="btn btn-default btn-xs" href="#">
                                    <i class="glyphicon glyphicon-plus"></i> Create execution
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-6 -->
            {% endif %}
            </div>
            <!-- /.row -->
    {% endfor %}
{% endblock %}
