{% extends "base_enduser.html" %}

{% block navbar_title %}{{ block.super }} >> New Instance{% endblock %}

{% block content %}
    <form role="form" action="{% url 'enduser_instance_post' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="operation_id">Operation ID:</label>
            <select class="form-control" name="operation_id" id="operation_id" required>
                {% for operation in operations %}
                    <option value="{{ operation.id }}" {% if operation.id == default_operation %} selected {% endif %}>#{{ operation.id }} - {{ operation.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="name">Name (optional):</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="parameters">Parameters (JSON dictionary):</label>
            <textarea class="form-control" rows="5" cols="50" id="parameters" name="parameters" placeholder='{ "param1": "value", "param2": "value" }' required></textarea>
        </div>
        <div class="form-group">
            <label for="files">Files (JSON dictionary):</label>
            <textarea class="form-control" rows="5" cols="50" id="files" name="files" placeholder='{ "file1": "path", "file2": "path" }' required></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}
