{% extends "base_contributor.html" %}

{% block navbar_title %}{{ block.super }} >> New Appliance{% endblock %}

{% block content %}
    <form role="form" action="{% url 'contributor_appliance_post' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="logo_url">Logo URL:</label>
            <input type="text" class="form-control" id="logo_url" name="logo_url" required>
        </div>
        <div class="form-group">
            <label for="description">Description (optional):</label>
            <textarea class="form-control" rows="5" cols="50" id="description" name="description"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}
