{% extends "base_contributor.html" %}

{% block navbar_title %}{{ block.super }} >> Appliances{% endblock %}

{% block toolbar %}
    <div class="btn-toolbar portal-toolbar" role="toolbar" aria-label="...">
        <div class="portal-toolbar-content">
            <div class="btn-group" role="group" aria-label="...">
                <a href="{% url 'contributor_appliance_form' %}" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add appliance</a>
            </div>
        </div>
    </div>
    <div class="portal-toolbar-after"></div>
{% endblock %}

{% block content %}
    {% for pair in appliances_pairs %}
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default portal-panel">
                <div class="panel-body">
                    <div class="portal-panel-header">
                        <div class="portal-panel-image portal-image-placeholder"></div>
                        <div class="portal-panel-header-text">
                            <h2>{{ pair.first.name }}</h2>
                            <!-- <p>Appliance</p> -->
                        </div>
                    </div>
                    <div class="portal-panel-content">
                        <h3>Description</h3>
                        <p>{% if pair.first.description %}{{ pair.first.description }}{% else %}No description provided.{% endif %}</p>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs" data-toggle="popover" data-placement="auto right" data-html="true" title='Implementations<div class="btn-group pull-right"><a href="{% url 'contributor_appliance_implementation_form' %}?default_appliance={{ pair.first.name }}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-plus"></i> Add</a>'
                            data-content='{% for impl in pair.first.implementations %}<a href="{% url 'contributor_appliance_implementation_detail' appliance_impl_name=impl.name %}"><div class="portal-popover-image portal-image-placeholder"></div> {{ impl.name }}</a>{% endfor %}'>
                            <i class="glyphicon glyphicon-th-list"></i> Show implementations
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-6 -->
        {% if pair.second %}
        <div class="col-lg-6">
            <div class="panel panel-default portal-panel">
                <div class="panel-body">
                    <div class="portal-panel-header">
                        <div class="portal-panel-image portal-image-placeholder"></div>
                        <div class="portal-panel-header-text">
                            <h2>{{ pair.second.name }}</h2>
                            <!-- <p>Appliance</p> -->
                        </div>
                    </div>
                    <div class="portal-panel-content">
                        <h3>Description</h3>
                        <p>{% if pair.second.description %}{{ pair.second.description }}{% else %}No description provided.{% endif %}</p>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs" data-toggle="popover" data-placement="auto right" data-html="true" title='Implementations<div class="btn-group pull-right"><a href="{% url 'contributor_appliance_implementation_form' %}?default_appliance={{ pair.second.name }}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-plus"></i> Add</a>'
                            data-content='{% for impl in pair.second.implementations %}<a href="{% url 'contributor_appliance_implementation_detail' appliance_impl_name=impl.name %}"><div class="portal-popover-image portal-image-placeholder"></div> {{ impl.name }}</a>{% endfor %}'>
                            <i class="glyphicon glyphicon-th-list"></i> Show implementations
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-6 -->
        {% endif %}
    </div>
    <!-- /.row -->
    {% endfor %}
{% endblock %}
