{% extends "base.html" %}

{% load staticfiles %}

{% block additional_head %}
    <!-- Contributor CSS -->
    <link href="{% static "css/contributor.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}DIBBS Portal - Community Contributor{% endblock %}
{% block navbar_title %}DIBBS Portal - Community Contributor{% endblock %}

{% block navbar_links %}
    <a href="{% url "enduser_index" %}">Switch to End User Portal</a>
{% endblock %}

{% block sidebar_links %}
    <a href="{% url "contributor_operations" %}"><i class="glyphicon glyphicon-th"></i> Operations</a>
    <a href="{% url "contributor_appliances" %}"><i class="glyphicon glyphicon-th"></i> Appliances</a>
{% endblock %}
