{% extends "base.html" %}

{% block title %}DIBBS Portal - Community User{% endblock %}
{% block navbar_title %}DIBBS Portal - Community User{% endblock %}

{% block navbar_links %}
    <a href="{% url "enduser_operations" %}">Switch to End User</a>
{% endblock %}

{% block sidebar_links %}
    <a href="{% url "contributor_operations" %}"><i class="glyphicon glyphicon-th"></i> Operations</a>
    <a href="{% url "contributor_appliances" %}"><i class="glyphicon glyphicon-th"></i> Appliances</a>
    <a href="{% url "contributor_clusters" %}"><i class="glyphicon glyphicon-th"></i> Clusters</a>
{% endblock %}
