{% extends "base_contributor.html" %}

{% block navbar_title %}{{ block.super }} >> New Operation{% endblock %}

{% block content %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="http://parsleyjs.org/dist/parsley.min.js"></script>
    <link href="http://parsleyjs.org/src/parsley.css" rel="stylesheet">

    <form role="form" action="{% url 'contributor_operation_post' %}" method="post" data-parsley-validate="">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="logo_url">Logo URL:</label>
            <input type="text" class="form-control" id="logo_url" name="logo_url">
        </div>
        <div class="form-group">
            <label for="description">Description (optional):</label>
            <textarea class="form-control" rows="5" cols="50" id="description" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="string_parameters">String parameters (JSON unordered list):</label>
            <textarea class="form-control" rows="5" cols="50" id="string_parameters" required="" name="string_parameters" data-parsley-json="3" placeholder='[ "param1", "param2" ]'>[]</textarea>
        </div>
        <div class="form-group">
            <label for="file_parameters">File parameters (JSON unordered list):</label>
            <textarea class="form-control" rows="5" cols="50" id="file_parameters" name="file_parameters" data-parsley-json="3" required="" placeholder='[ "file1", "file2" ]'>[]</textarea>
        </div>
        <div class="form-group">
            <label for="appliance">Appliance:</label>
            <select class="form-control" name="appliance" id="appliance" required>
                {% for appliance in appliances %}
                {% if appliance.name != 'common' %}
                    <option>{{ appliance.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="cwd">Current Working Directory:</label>
            <input type="text" class="form-control" id="cwd" name="cwd">
        </div>
        <div class="form-group">
            <label for="script">Script:</label>
            <textarea class="form-control" rows="5" cols="50" required="" id="script" name="script"></textarea>
        </div>
        <div class="form-group">
            <label for="output_type">Output type:</label>
            <select class="form-control" name="output_type" id="output_type" required>
                <option value="file">File</option>
            </select>
        </div>
        <div class="form-group">
            <label for="output_parameters">Output parameters (JSON dictionary):</label>
            <textarea class="form-control" rows="5" cols="50" id="output_parameters" data-parsley-dictjson="3" placeholder='[ "file1", "file2" ]' name="output_parameters">{}</textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <script type="text/javascript">
    window.Parsley.addValidator('json', {
        validateString: function(value) {
            try {
                JSON.parse(value);
            } catch (e) {
                return false;
            }
            return true;
        },
        messages: {
            en: 'The value should be a valid JSON string as <code>[ "param1", "param2" ]</code>',
        }
    });

    window.Parsley.addValidator('dictjson', {
        validateString: function(value) {
            try {
                JSON.parse(value);
            } catch (e) {
                return false;
            }
            return JSON.parse(value).constructor == {}.constructor;
        },
        messages: {
            en: 'The value should be a valid JSON string as <code>{"key": "value"}</code>',
        }
    });
    </script>
{% endblock %}
