{% extends "base_contributor.html" %}

{% block toolbar %}
    <div class="btn-toolbar portal-toolbar" role="toolbar" aria-label="...">
        <div class="portal-toolbar-content">
            <div class="btn-group" role="group" aria-label="...">
                <a href="{% url 'contributor_operation_form' %}" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add operation</a>
            </div>
        </div>
    </div>
    <div class="portal-toolbar-after"></div>
{% endblock %}

{% block content %}
    {% for pair in operations_pairs %}
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default portal-panel">
                <div class="panel-body">
                    <div class="portal-panel-header">
                        <div class="portal-panel-image portal-image-placeholder"></div>
                        <div class="portal-panel-header-text">
                            <h2>{{ pair.first.name }}</h2>
                            <p>
                              <span>Based on <a>{{ pair.first.implementation.appliance }}</a></span><br/>
                              <!-- <span><span class="label label-primary">GIS</span> <span class="label label-primary">social</span> (v0.9)</span> -->
                            </p>
                        </div>
                    </div>
                    <div class="portal-panel-content">
                        <h3>Description</h3>
                        <p>{% if pair.first.description %}{{ pair.first.description }}{% else %}No description provided.{% endif %}</p>
                        {% if pair.first.string_parameters %}
                        <h3>String parameters</h3>
                        <ul>
                            {% for sparam in pair.first.string_parameters %}
                            <li>{{ sparam }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if pair.first.file_parameters %}
                        <h3>File parameters</h3>
                        <ul>
                            {% for fparam in pair.first.file_parameters %}
                            <li>{{ fparam }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="btn-group pull-right">
                        <a class="btn btn-default btn-xs" href="operation_detail.html">
                            <i class="glyphicon glyphicon-eye-open"></i> Show details
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-6 -->
        {% if pair.second %}
        <div class="col-lg-6">
            <div class="panel panel-default portal-panel">
                <div class="panel-body">
                    <div class="portal-panel-header">
                        <div class="portal-panel-image portal-image-placeholder"></div>
                        <div class="portal-panel-header-text">
                            <h2>{{ pair.second.name }}</h2>
                            <p>
                              <span>Based on <a>{{ pair.second.implementation.appliance }}</a></span><br/>
                              <!-- <span><span class="label label-primary">GIS</span> <span class="label label-primary">social</span> (v0.9)</span> -->
                            </p>
                        </div>
                    </div>
                    <div class="portal-panel-content">
                        <h3>Description</h3>
                        <p>{% if pair.second.description %}{{ pair.second.description }}{% else %}No description provided.{% endif %}</p>
                        {% if pair.second.string_parameters %}
                        <h3>String parameters</h3>
                        <ul>
                            {% for sparam in pair.second.string_parameters %}
                            <li>{{ sparam }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if pair.second.file_parameters %}
                        <h3>File parameters</h3>
                        <ul>
                            {% for fparam in pair.second.file_parameters %}
                            <li>{{ fparam }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="btn-group pull-right">
                        <a class="btn btn-default btn-xs" href="operation_detail.html">
                            <i class="glyphicon glyphicon-eye-open"></i> Show details
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-6 -->
        {% endif %}
    </div>
    <!-- /.row -->
    {% endfor %}
{% endblock %}
