{% extends "base_contributor.html" %}

{% block navbar_title %}{{ block.super }} >> New Operation{% endblock %}

{% block content %}
    <form role="form" action="{% url 'contributor_operation_post' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="description">Description (optional):</label>
            <textarea class="form-control" rows="5" cols="50" id="description" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="string_parameters">String parameters (JSON unordered list):</label>
            <textarea class="form-control" rows="5" cols="50" id="string_parameters" name="string_parameters"></textarea>
        </div>
        <div class="form-group">
            <label for="file_parameters">File parameters (JSON unordered list):</label>
            <textarea class="form-control" rows="5" cols="50" id="file_parameters" name="file_parameters"></textarea>
        </div>
        <div class="form-group">
            <label for="appliance">Appliance:</label>
            <select class="form-control" name="appliance" id="appliance" required>
                {% for appliance in appliances %}
                {% if appliance.name != 'common' %}
                    <option>{{ appliance.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="archive_url">Operation files archive URL:</label>
            <input type="url" class="form-control" id="archive_url" name="archive_url">
        </div>
        <div class="form-group">
            <label for="cwd">Current Working Directory:</label>
            <input type="text" class="form-control" id="cwd" name="cwd">
        </div>
        <div class="form-group">
            <label for="command">Command:</label>
            <input type="text" class="form-control" id="command" name="command" required>
        </div>
        <div class="form-group">
            <label for="argv">Command arguments (JSON array):</label>
            <textarea class="form-control" rows="5" cols="50" id="argv" name="argv"></textarea>
        </div>
        <div class="form-group">
            <label for="environment">Environment (JSON dictionary):</label>
            <textarea class="form-control" rows="5" cols="50" id="environment" name="environment"></textarea>
        </div>
        <div class="form-group">
            <label for="output_type">Output type:</label>
            <select class="form-control" name="output_type" id="output_type" required>
                <option value="file">File</option>
            </select>
        </div>
        <div class="form-group">
            <label for="output_parameters">Output parameters (JSON dictionary):</label>
            <textarea class="form-control" rows="5" cols="50" id="output_parameters" name="output_parameters"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}
