.navbar {
    background-color: #00b000;
}

.navbar-top-links>li>a:focus, .navbar-top-links>li>a:hover, .navbar-top-links .open>a, .navbar-top-links .open>a:focus, .navbar-top-links .open>a:hover,
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #10c010;
}

.cluster-table thead {
    background-color: #ffefa0;
}

.execution-table thead {
    background-color: #a0efff;
}

a, a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
}

.navbar-header a, .navbar-top-links > li > a {
    color: #fbfbfb !important;
}

.navbar-toggle .icon-bar {
    background-color: #fbfbfb !important;
}
