{% extends "base.html" %}

{% load staticfiles %}

{% block additional_head %}
    <script src="{% static "jquery/jquery.min.js" %}"></script>
    <script src="{% static "jsencrypt/bin/jsencrypt.min.js" %}"></script>

    <script type="text/javascript">
        function validateAndEncryptForm() {
            var public_key = "{{ public_key }}";
            var json = '{';
            $('#credentials_form').find('.encrypted').each(function (k, v) {
                var value = "" + v.value;
                value = value.replace('"', '\\\"');
                json = json + '"' + v.name + '": "' + value + '", ';
                v.value = "[encrypted]";
                v.disabled = true;
            });
            json = json.slice(0, -2) + '}';
            console.log(json);
            var encrypt = new JSEncrypt();
            encrypt.setPublicKey(public_key);
            var encrypted = encrypt.encrypt(json);
            console.log(encrypted);
            $('#encrypted_content')[0].value = encrypted;
            return true;
        }
    </script>
{% endblock %}

{% block navbar_title %}{{ block.super }} >> New User Credentials{% endblock %}

{% block content %}
    <form role="form"
          id="credentials_form"
          action="{% url 'credentials_post' %}"
          onsubmit="return validateAndEncryptForm()"
          method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="service_provider">Service provider:</label>
            <select class="form-control" name="service_provider" id="service_provider" required>
                {% for sp in service_providers %}
                    <option>{{ sp.name }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- TODO: Change the form depending on the type of service provider -->
        <!-- Assuming OpenStack -->
        <div id="service_provider_specific">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control encrypted" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control encrypted" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="project">Project:</label>
                <input type="text" class="form-control encrypted" id="project" name="project">
            </div>
        </div>

        <!--<input type="hidden" name="encrypted_content" value="{}">-->
        <input type="text" name="encrypted_content" id="encrypted_content" value="{}">

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}
