{% extends "base.html" %}

{% block navbar_title %}{{ block.super }} >> User Credentials{% endblock %}

{% block toolbar %}
    <div class="btn-toolbar portal-toolbar" role="toolbar" aria-label="...">
        <div class="portal-toolbar-content">
            <div class="btn-group" role="group" aria-label="...">
                <a href="{% url 'credentials_form' %}" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add Credentials</a>
            </div>
        </div>
    </div>
    <div class="portal-toolbar-after"></div>
{% endblock %}

{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table execution-table">
                        <thead>
                            <tr>
                                <th>Service Provider</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                        {% for cred in credentials_list %}
                            <tr>
                                <td>{{ cred.site_name }}</td>
                                <td>-</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}
